includes:
    - vendor/bitexpert/phpstan-magento/extension.neon
parameters:
    level: 8
    paths:
        - Api
        - Console
        - Model
        - Observer
        - Plugin
        - Service
    excludePaths:
        - Test/*
        - vendor/*
    treatPhpDocTypesAsCertain: false
    ignoreErrors: []
